<div class="container-fluid" id="img-bg">

    <div class="row">

        <div class="col-md-2" > </div>

        <div class="col-md-6 mt-5 mb-5">

            <div class="row d-flex justify-content-center">
                <div class="col-md-8 card">

                    <h1 class="text-center title mb-2">CRIE UMA CONTA</h1>

                    <div class="form-group ">
                        <input  class="form-control my-2" type="text" name="nome" id="nome"
                            placeholder="Digite seu nome">
                    </div>

                    <div class="form-group ">
                        <input  class="form-control my-2" type="text" name="usuario"
                            id="usuario" placeholder="Digite seu email">
                    </div>

                                       
                    <div class="form-group">
                        <input  class="form-control my-2" type="password" name="senha"
                            id="senha" placeholder="Digite sua senha">
                    </div>

                    <div class="form-group">
                        <input  class="form-control my-2" type="password" name="confirmSenha"
                            id="confirmSenha" placeholder="Confirme sua senha">
                    </div>

                   

                    <div class="d-flex justify-content-center mt-2 mb-2">
                        <button type="button" class="btn btn-lg btn-block" aria-describedby="basic-addon1"
                           routerLink="/login" >Cadastre-se</button>

                    </div>





                    <div class="text-center my-3">
                        <p>Ao se cadastrar, você concorda com nossos <br> Termos,Política de Dados e Política de
                            Cookies.</p>
                    </div>

                    <hr>

                    <div class="text-center my-1">
                        <p>Tem uma conta? <a routerLink='/login'>Conecte-se</a> </p>
                    </div>

                </div>
            </div>
        </div>
    </div>