<div class="main-login">
    <div class="left-login">
        <h1>Faça login<br>E entre na nossa loja</h1>
        <img src="..\..\assets\img\loja.png" alt="Loja">
    </div>
    <div class="right-login">
        <div class="card-login">
            <h1>LOGIN</h1>
            <div class="textfield">
                <label for="usuario">U</label>
                <input type="text" name="usuario" placeholder="Usuário">
            </div>
            <div class="textfield">
                <label for="senha"></label>
                <input type="password" name="senha" placeholder="Senha">
            </div>
            <button class="btn-login" routerLink='/painel'>Entrar</button>
            <p class="text-center my-5">
                Não tem uma conta? <a routerLink="/cadastro">Cadastre-se</a>
            </p>

        </div>
    </div>
</div>