<div class="container-fluid">
    <div class="menu mx-5 mt-3">
        <div class="row">
            <a href="#" class="text-center">
                <h1 class="title">Valeska</h1>
            </a>
        </div>
        <div class="row">
            <ul class="nav pb-2 justify-content-center">
                <li class="nav-item">
                    <a href="#" class="nav-link">Novidades</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Camisas</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Calças</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Acessórios</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Bem-Estar</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row my-5 mx-3">
        <div class="col-md-3">
            <div class="card mx-3" style="width: 18rem;">
                <img class="card-img-top" src="https://i.imgur.com/gEFtwtA.jpg" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">T-shirt You Make Me Smile</h6>
                    <p class="card-text discount mb-1 ">R$ 90,00</p>
                    <p class="card-text">R$ 38,90 <span class="card-text installment pl-4">2x R$ 19,45</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mx-3" style="width: 18rem;">
                <img class="card-img-top" src="https://i.imgur.com/gEFtwtA.jpg" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">T-shirt You Make Me Smile</h6>
                    <p class="card-text discount mb-1 ">R$ 90,00</p>
                    <p class="card-text">R$ 38,90 <span class="card-text installment">2x R$ 19,45</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mx-3" style="width: 18rem;">
                <img class="card-img-top" src="https://i.imgur.com/gEFtwtA.jpg" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">T-shirt You Make Me Smile</h6>
                    <p class="card-text discount mb-1 ">R$ 90,00</p>
                    <p class="card-text">R$ 38,90 <span class="card-text installment">2x R$ 19,45</span></p>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mx-3" style="width: 18rem;">
                <img class="card-img-top" src="https://i.imgur.com/gEFtwtA.jpg" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">T-shirt You Make Me Smile</h6>
                    <p class="card-text discount mb-1 ">R$ 90,00</p>
                    <p class="card-text">R$ 38,90 <span class="card-text installment">2x R$ 19,45</span></p>

                </div>
            </div>
        </div>
    </div>
    <div class="row my-5 mx-3">
        <div class="col-md-3">
            <div class="card mx-3" style="width: 18rem;">
                <img class="card-img-top" src="https://i.imgur.com/gEFtwtA.jpg" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">T-shirt You Make Me Smile</h6>
                    <p class="card-text discount mb-1 ">R$ 90,00</p>
                    <p class="card-text">R$ 38,90 <span class="card-text installment">2x R$ 19,45</span></p>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mx-3" style="width: 18rem;">
                <img class="card-img-top" src="https://i.imgur.com/gEFtwtA.jpg" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">T-shirt You Make Me Smile</h6>
                    <p class="card-text discount mb-1 ">R$ 90,00</p>
                    <p class="card-text">R$ 38,90 <span class="card-text installment">2x R$ 19,45</span></p>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mx-3" style="width: 18rem;">
                <img class="card-img-top" src="https://i.imgur.com/gEFtwtA.jpg" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">T-shirt You Make Me Smile</h6>
                    <p class="card-text discount mb-1 ">R$ 90,00</p>
                    <p class="card-text">R$ 38,90 <span class="card-text installment">2x R$ 19,45</span></p>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mx-3" style="width: 18rem;">
                <img class="card-img-top" src="https://i.imgur.com/gEFtwtA.jpg" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">T-shirt You Make Me Smile</h6>
                    <p class="card-text discount mb-1 ">R$ 90,00</p>
                    <p class="card-text">R$ 38,90 <span class="card-text installment">2x R$ 19,45</span></p>

                </div>
            </div>
        </div>
    </div>

    <div class="text-center text-lg-start bg-light text-muted">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            <p class="bold">VALESKA © 2021. TODOS OS DIREITOS RESERVADOS.</p>
        </div>
    </div>
</div>