
<div class="container-fluid">
    <div class="menu mx-5 mt-3">
        <div class="row">
            <a href="#" class="text-center">
                <h1 class="title">Valeska</h1>
            </a>

           
        </div>
        <div class="row">
            <ul class="nav pb-2 justify-content-center">
                <li class="nav-item">
                    <a href="#" class="nav-link">Novidades</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Camisas</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Calças</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Acessórios</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Bem-Estar</a>
                </li>

                <li class="nav-item">
                    <button><a routerLink='/gerenciador-de-estoque' class="nav-link">Gerenciar Estoque</a></button>
                    
                </li>

                
            </ul>

            
        </div>
        
    </div>
    <div class="row my-5 mx-3">
        <div class="col-md-3">
            <div class="card mx-3" style="width: 18rem;">
                <img class="card-img-top" src="https://i.imgur.com/gEFtwtA.jpg" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">T-shirt You Make Me Smile</h6>
                    <p class="card-text discount mb-1 ">R$ 60,00</p>
                    <p class="card-text">R$ 38,90 <span class="card-text installment pl-4">2x R$ 19,45</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mx-3" style="width: 18rem;">
                <img class="card-img-top" src="https://i.imgur.com/kpi8AjU.jpg" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Vestido Midi Babados Manga </h6>
                    <p class="card-text discount mb-1 ">R$ 120,00</p>
                    <p class="card-text">R$ 88,90 <span class="card-text installment">2x R$ 44,45</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mx-3" style="width: 18rem;">
                <img class="card-img-top" src="https://i.imgur.com/wBZPei4.jpg" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Vestido Curto com Decote </h6>
                    <p class="card-text discount mb-1 ">R$ 90,00</p>
                    <p class="card-text">R$ 75,50 <span class="card-text installment">2x R$ 37,75</span></p>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mx-3" style="width: 18rem;">
                <img class="card-img-top" src="https://i.imgur.com/WMB33AW.jpg" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Macaquinho Alcinha </h6>
                    <p class="card-text discount mb-1 ">R$ 89,90</p>
                    <p class="card-text">R$ 59,90 <span class="card-text installment">2x R$ 29,95</span></p>

                </div>
            </div>
        </div>
    </div>
    <div class="row my-5 mx-3">
        <div class="col-md-3">
            <div class="card mx-3" style="width: 18rem;">
                <img class="card-img-top" src="https://i.imgur.com/suxwAW6.jpg" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Calça Jeans Mom Basic</h6>
                    <p class="card-text discount mb-1 ">R$ 69,00</p>
                    <p class="card-text">R$ 48,90 <span class="card-text installment">2x R$ 24,45</span></p>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mx-3" style="width: 18rem;">
                <img class="card-img-top" src="https://i.imgur.com/p3cWenl.jpg" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Blazer Alongado Detalhe Botoes</h6>
                    <p class="card-text discount mb-1 ">R$ 200,00</p>
                    <p class="card-text">R$ 150,00 <span class="card-text installment">2x R$ 75,00</span></p>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mx-3" style="width: 18rem;">
                <img class="card-img-top" src="https://i.imgur.com/5a51wgD.jpg" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Shorts Jeans Cinto </h6>
                    <p class="card-text discount mb-1 ">R$ 60,00</p>
                    <p class="card-text">R$ 34,90 <span class="card-text installment">2x R$ 17,45</span></p>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mx-3" style="width: 18rem;">
                <img class="card-img-top" src="https://i.imgur.com/mAdR538.jpg" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Blusa Cropped Barra de Lastex</h6>
                    <p class="card-text discount mb-1 ">R$ 50,90</p>
                    <p class="card-text">R$ 32,90 <span class="card-text installment">2x R$ 16,45</span></p>

                </div>
            </div>
        </div>
    </div>

    <div class="text-center text-lg-start bg-light text-muted">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            <p class="bold">VALESKA © 2021. TODOS OS DIREITOS RESERVADOS.</p>
        </div>
    </div>
</div>